    *{
        font-weight: bold;
        text-align: center;
        width: 700px;
        font-family:  Helvetica, sans-serif;
        
    }
    table{
    border:  greenyellow;
    height: 500px;
    border-collapse: collapse;
    }

